* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

ul,
ol,
li {
   list-style: none;
}

/* ====================================================== */

h1 {
   text-align: center;
}

.wrapper {
   width: 580px;
   margin: 50px auto;
}

.example {
   display: flex;
   justify-content: center;
   gap: 20px 40px;
   margin: 10px 0 45px 0;
}

form {
   display: flex;
   flex-wrap: wrap;
   gap: 30px 40px;
}

.item {
   position: relative;
   display: flex;
   flex-direction: column;
   flex: 0 1 46.5%;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   color: #595959;
}

.item input {
   margin: 6px 0;
   padding: 20px 12px;
   background: #FFFFFF;
   border-radius: 4px;
   outline: none;
   font-size: 16px;
}

.inp {
   border: 1px solid #949494;
}

.item p {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   text-transform: capitalize;
}

.btn__box {
   flex: 0 1 100%;
   display: flex;
   justify-content: center;
}

.btn {
   width: 277px;
   height: 59px;
   background: #4200FF;
   border: 2px solid #4200FF;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 400;
   font-size: 14px;
   color: #FFFFFF;
}

.valid {
   border: 2px solid #4200FF;
}
.invalid {
   border: 2px solid #EE0004;
}

.img {
   width: 20px;
   height: 20px;
   position: absolute;
   top: 43%;
   right: -25px;
   display: none; 
}